@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --main-bg-color: #f9f4ef;
  --main-text-color: #201c0c;
  --secondary-textcolor: #85586F;
  --secondary-color: #be9ea6;
  --tertiary-color: #DEB6AB;
}

* {
  font-family: "Quicksand";
  color: #333;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navbar-container {
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
}
.navbar-container-bg {
  background-color: var(--secondary-color);
}
.navbar-container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  margin: auto;
  height: 100%;
  padding: .5 1rem;
}
.navbar-container .navbar img {
  width: 250px;
  height: auto;
}
.navbar-container .nav-menu {
  display: flex;
}
.navbar .nav-link {
  padding: 0.5rem;
  font-weight: 600;
  /*margin-right: 1.25rem;*/
}
.navbar .nav-link a:hover {
  padding-bottom: 10px;
  color: var(--secondary-textcolor);
  border-bottom: 3px solid var(--secondary-textcolor);
}
.navbar-container .hamburger {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15rem 0 10rem 0;
}

/*.content {
  max-width: 60rem;
  margin: 2.5rem auto;
  padding: 1.5rem;
}*/

.content {
  width: 60%;
  margin: 0 auto;
}

.project-list {
  margin-top: 10rem;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.project-preview {
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 1rem;
  margin: 10px;
}
.project-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.project-image {
  width: 100%;
  height: 12em;
  margin-top: 1rem;
  border-radius: 8px;
}

.values-list {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 5rem 0;
}

.value-preview {
  padding: 2rem;
  width: 15rem;
  height: 15rem;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

}
/*.value-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}*/
.value-preview .values-text {
  text-align: left;
  padding: 0.5rem;
}

.item-container {
  padding: 2rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.form-group {
  width: 100%;
  margin-bottom: 2rem;
}
label {
  font-size: 1rem;
}
input, textarea {
  width: 100%;
  font-size: 1rem;
  padding: 1.2rem;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}
textarea {
  min-height: 250px;
  resize: vertical;
}
button[type='submit'] {
  background-color: #85586F;
  color: #f2f2f2;
  font-size: 1rem;
  display: inline-block;
  outline: none;
  border: none;
  padding: 1rem 4rem;
  border-radius: 8px;
  cursor: pointer;
}
.contact {
  padding: 10rem 0 10rem 0;
}
.contact-wrapper {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
  justify-content: space-between;
  position: relative;
}
.contact-wrapper::after{
  position: absolute;
  content: "";
  width: 2px;
  height: 50%;
  background-color: var(--secondary-textcolor);
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.left {
  width: 100%;
  max-width: 300px;
  margin-top: 1em;
}
.right {
  width: 100%;
  max-width: 300px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}
.footer-links a {
  padding: 0 30px 50px 30px;
}

.dots-container {
  margin-left: 10%;
  /*border-radius: 50%; N*/
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.dots {
  height: 30px;
  width: 30px;
  margin: 1rem;
  opacity: 0.5;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform-origin: right top;
  animation: moving 3s ease-in-out infinite;
}

@keyframes moving {
  0% {
    transform: rotate(1080deg);
    background-color: #b951f6;
  }

  50% {
    transform: rotateY(1080px);
    height: 30px;
    width: 30px;
    background-color: #db51f6;
  }
  100% {
    transform: rotateX(1080px);
    background-color: #56ede3;
  }
}

.dots:nth-child(0) {
  animation-delay: 1s;
  animation-direction: reverse;
}

.dots:nth-child(1) {
  animation-delay: 0.2s;
}

.dots:nth-child(2) {
  animation-delay: 0.4s;
}

.dots:nth-child(3) {
  animation-delay: 0.6s;
}

.dots:nth-child(4) {
  animation-delay: 0.8s;
}

.dots:nth-child(5) {
  animation-delay: 0.3s;
}

.dots:nth-child(6) {
  animation-delay: 0.8s;
}

.dots:nth-child(7) {
  animation-delay: 0.6s;
}

.dots:nth-child(8) {
  animation-delay: 0.4s;
}

.dots:nth-child(9) {
  animation-delay: 1s;
}


/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 576px) {

  * {
    font-size: 16px;
  }

  .header h1{
    font-size: 24px;
    padding-bottom: 30%;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0 100px 0;
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
  
  /* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 

  .navbar-container {
    max-width: 100%;
    background-color: var(--secondary-color);
  }

  .navbar-container .navbar {
    max-width: 100%;
  }

  .navbar-container .hamburger {
    display: block;
    margin-right: 10px;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    color: var(--main-bg-color);
    background-color: var(--secondary-color);
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    justify-content: center;
    transition: .5s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-link {
    margin: 10% 0;
  }

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

  .content {
    width: 60%;
    margin: 0 auto;
  }
  .values-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .value-preview {
    margin: 10%;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }

  .project-preview {
    margin: 10%;
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-wrapper::after{
    display: none;
  }

  .footer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .navbar-container .navbar img {
    width: 150px;
  }

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1400px) {

  .content {
    width: 50%;
    margin: 0 auto;
  }

  .contact-wrapper::after{
    display: none;
  }

}

